html {
    scroll-behavior: smooth;
  }
.inlineblock {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.logo {
  width: 23%;  
  padding: 1%;
  text-align: center;
}
nav {
    width: 98%;
    padding: 1%;
    background-color: #183A50;
    
}
.topnav { 
    width: 50%;
    justify-content: end;
    margin-left: auto;
    color: #183A50;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.navitem{
    color: aliceblue;
    font-weight: 400;
}
li:hover{
    font-weight: bold;
}
.heroimg {
    height: 600px;
    max-width: 100%;
   padding: 25px;
  /*  justify-content: center; */
  

}
.self{
    height:395px;
     border: 10px solid #89ACAA;

}
/*.center {
    margin-left: auto;
    margin-right: auto;
    width: 200%;
    border: 10px solid #89ACAA;
      
  }*/
.content {
    width: 500px;
    margin: 0 auto;
    padding: 25px;


}
.aboutme{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    height:auto ;
    width: 600px;
}
.para {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
   /* padding: 25px; */
    width: 5000px;
    height: 200px;
    /*padding-left: 25px;
    padding-right: 00px;*/
    margin-top: 75px;
    
}
.button{
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;

}

button{
    background-color: #89ACAA;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  
}

.flexcontainer{
    display: flex;
}
.myskills{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 25px;
    
}
h1{
    padding: 25px;
    border: 1px solid #183A50;
    margin: 50px;
}

.child1{
    width: 33%;
    padding: 10px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #183A50;
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  
}
.child1 p{
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
}
.child2{
    width: 33%;
    padding: 10px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    background-color: #183A50;
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;


}
.child2 p{
    padding: 25px;
}
.child3{
    width: 33%;
    padding: 10px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #183A50;
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  
}
.child3 p{
    padding: 25px;
}

.mywork h1{
   
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
    border:1px solid #183A50;
    margin: 50px;
}
.workgrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 300px 300px 300px;
    font-family: 'Montserrat', sans-serif;
} 
.farthest{
    width: 100%;
    padding: 25px;
    margin: 10px;
    /*background-color: white;*/
    /*box-shadow: 0 4px 8px 0 #183a50ad;*/
  transition: 0.3s;
  border-radius: 5px;
  align-items: center;
}
.second{
    width: 85%;
    padding: 25px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 #183a50ad;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid #89ACAA;
  text-align: center;
}
footer {
    background-color: #183A50;
    width: 98%;  
  padding: 1%;
}
.bottomnav {
   padding-left: 40px;
   display: inline-block; 
   vertical-align: top;
   color: aliceblue;
   font-family: 'Montserrat', sans-serif;
   
}
li {
    padding: 40px;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 600px){
    
    .flexcontainer{
        display: flex;
        flex-direction: column;
    }
    .child1 {
        width: 100%;
    }
    .child2{
        width: 100%;
    }
    .child3{
        width: 100%;
    }
    .workgrid{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px;
    }
}
